* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;


}

.App-container {
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  background-image: url('./assets/images/espacio.jpg');
  background-position: center;
  background-size: contain;

}

.title {
  max-width: 400px;
}

.header {
  background-image: url('./assets/images/wallpaper.jpg');
  background-size: cover;
  background-position: center 40%;
  min-height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.location {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px;
  border-radius: 5px;
  background-color: rgba(6, 6, 18, 0.816);;
  color: #fff;
  
}

.cards-container {
  min-height: 70vh;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.portal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 200px;
}

.portal img {
  height: 200px;
}

/* CARDS */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.container figure {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 15px 25px rgba(6, 6, 129, 0.5);
  cursor: pointer;
}

.img {
  width: 200px;
  height: 200px;
  transition: all 500ms ease-out;
  
}

.container figure .capa {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  /* background: rgba(6, 6, 129, 0.5); */
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.container figure:hover>.capa {
  opacity: 1;
  visibility: visible;
}

.container figure:hover>.capa h4 {
  margin-top: 70px;
  margin-bottom: 15px;
}

.container figure:hover>.img {
  transform: scale(1.3);
}

.container figure .capa h4 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}

.container figure .capa li {
  color: #fff;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.3;
  width: 100%;
  max-width: 220px;
  margin: auto;
  list-style: none;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;

}

button {
  border: none;
  padding: 10px;
  color:#fff;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.3rem;
  background-color: rgba(4, 4, 13, 0.821);;

}
input {
  padding: 10px;
  border: none;
  color: rgb(7, 7, 7);
  font-size: 1.3rem;
  width: 150px;
  background-color: rgb(243, 250, 251);

}